/* General Navbar Styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  width: 100%; /* Stretch to full width */
  padding: 0;
  position: relative; /* Remove fixed position */
}

/* Top bar */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.brand {
  font-size: 24px;
}

.languageSwitch {
  display: flex;
  gap: 10px;
}

.languageSwitch a {
  text-decoration: none;
  color: #fff;
}

.languageSwitch .selected {
  color: #FFD700;
}

/* Navigation Links */
.navLinksContainer {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 0;
  box-sizing: border-box;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navLink {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.navLink.active {
  color: #FFD700;
  border-bottom: 2px solid #FFD700;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  background-color: #D6BB56;
  height: 15vh;
}

.heroTitle {
  font-size: 36px;
  color: black;
  margin-right: 10px;
}

.verticalLine {
  width: 2px;
  height: 60px;
  background-color: #000;
  margin: 0 10px;
}

.ticketSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #D6BB56;
  padding: 5px;
  border-radius: 5px;
}

.input {
  padding: 5px;
  font-size: 14px;
  color: black;
  background-color: #fff;
  width: 200px;  /* Increased width for input field */
}

.atText {
  font-size: 24px;
  color: #000;
}

.button {
  background: linear-gradient(to bottom, #ff0000, #510C0C);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  width: 140px;
  transition: background 0.3s ease;
}

.button.hovered {
  background: linear-gradient(to bottom, #b30000, #510C0C);
}

/* Hero Image */
.heroImage {
  width: 100%;
  height: auto;
  max-height: 500px;
  margin-top: 0;
}
