* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #666666 0%, #000000 18%);
  color: #FFD700;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.posterSection {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.posterPlaceholder {
  width: 150px;
  height: 200px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFD700;
}

.detailsSection {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.detailsSection h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detailsSection p {
  margin: 5px 0;
}

.dateTimeSection,
.timeSlotsSection {
  margin-bottom: 20px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.dateButtons,
.timeButtons {
  display: flex;
  justify-content: left;
}

.dateButton1,
.timeButton1 {
  margin-right: 10px;
  height: 60px;
  width: 70px;
  border: 2.5px solid #FFD700;
  background-color: transparent;
  color: #FFD700;
  cursor: pointer;
}

.dateButton1:hover,
.timeButton1:hover {
  background: #FFD700;
  color: #ffffff;
}

.dateButton1.selected,
.timeButton1.selected {
  background-color: #FFD700;
  color: white;
}

.dateButton2 {
  margin: 0 20px;
  height: 60px;
  width: 2px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmSection {
  text-align: center;
  margin-top: 20px; /* ระยะห่างจากส่วนบน */
}

.confirmButton {
  background-color: #FFD700;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.confirmButton:hover {
  background: #FFD700;
  color: #000;
}

.confirmButton:active {
  background: #ffffff;
  color: #000000;
  border: 2.5px solid #000000;
}
